<form ng-submit="vm.create()" xmlns="http://www.w3.org/1999/html">
    <div class="form-group">
        <label for="car-brand">Car brand</label>
        <input class="form-control" id="car-brand" ng-model="vm.car.brand" />
        <p class="red">{{vm.errors.brand}}</p>
    </div>
    <div class="form-group">
        <label for="car-model">Car model</label>
        <input class="form-control" id="car-model" ng-model="vm.car.model" />
        <p class="red">{{vm.errors.model}}</p>
    </div>
    <div class="form-group">
        <label for="car-price">Car Price</label>
        <input class="form-control" id="car-price"
               ng-model="vm.car.price" type="number" step="0.01"/>
        <p class="red">{{vm.errors.price}}</p>
    </div>


    <div class="form-group">
        <label for="carClass">Car Class</label>
        <select class="form-control select2-element" id="carClass"
               ng-model="vm.carClass"
               ng-options="carClass as carClass.segment for carClass in vm.carClasses">
        </select>
        <script>
            $(document).ready(function() {
                $('.select2-element').select2();
            });
        </script>
    </div>

    <button class="btn btn-primary" type="submit">Create</button>
    <!--<input class="btn btn-primary" content="Create"/>-->
</form>